# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop

[Desktop Entry]
Comment=Lightweight FreiCoin Client
Exec=freilectrum %u
GenericName[en_US]=FreiLlectrum
GenericName=FreiLectrum
Icon=/usr/share/app-install/icons/electrum.png
Name[en_US]=FreiLectrum FreiCoin Wallet
Name=FreiLectrum FreiCoin Wallet
Categories=Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/bitcoin

