include README LICENCE RELEASE-NOTES AUTHORS
include freilectrum.conf.sample
include electrum.desktop
include *.py
include freilectrum
recursive-include lib *.py
recursive-include gui *.py
recursive-include plugins *.py
recursive-include packages *.py
include app.fil
include icons.qrc
recursive-include icons *
recursive-include scripts *
recursive-include data *
recursive-include locale *.mo
recursive-include docs *
